.banner {
    .text-primary {
        font-weight: 400;
    }
}

.number-m {
    font-size: 2rem;
    font-weight: 500;
    color: #2a28c3;
}

.logos {
    img{
        height: 40px;
        margin-right: 40px;
        object-fit: contain;
        max-height: 40px;
    }
}
