.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: var(--ipay-primary);
    background-color: white;
    border-color: var(--ipay-primary);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-weight: 500;

}

.nav-tabs .nav-link {
    color: gray;
    font-weight: 400;
    border-top: 0!important;
    border-left: 0!important;
    border-right: 0!important;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
   &:hover {
   
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
    border-color:var(--ipay-primary);
    color: var(--ipay-primary);

   }
}
