body {
    background-color: var(--ipay-web-bg);
    overflow-x: hidden;
	margin: 0;
    font-family: var(--font-ipay);
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-ipay);
    font-weight: 400;
}

p, label, a , select, input, span, button, small{
    font-family: var(--font-ipay);
    font-weight: 300;
    
}

.link {
    text-decoration: none;
    &:hover {
        color: var(--ipay-primary);
    }
}